@tailwind base;
@tailwind components;
@tailwind utilities;

.main-div{
    margin-top: 2vh;
    margin-inline: 10vh;
    background-color: rgb(4, 36, 63);
}

.main-head{
    text-align: center;
    font-size: 25px;
    color: white;
}
.add{
    display: flex;
    justify-content: center;
}